html,
body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  box-sizing: border-box;
  background: white;
}

body {
  font-family: 'Sen', sans-serif;
  text-align: center;
  height: 100%;
}

.label {
  text-align: left;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: #1a237e;
  line-height: 1rem;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 400px;
  margin: 3rem auto;
  margin-bottom: 0;
}

ul {
  margin: 0;
  text-align: left;
}

li {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 420px) {
  .App {
    margin: 3rem 1rem;
  }
}

.App--info {
  margin-top: 1rem;
  background: #e8eaf6;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  color: #1a237e;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.App--info.center {
  align-items: center;
}

.App--info p {
  margin: 0;
  text-align: left;
  padding: 0.5rem 1rem;
  padding-left: 0;
}

.App--info ul {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App--info svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
}

.App--clear {
  margin-top: 1rem;
}

.App--clear button {
  background: none;
  border: none;
  text-decoration: underline;
  color: #e53935;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}
.App--clear button:hover {
  color: #b71c1c;
}

.App--about {
  margin-top: 4rem;
}

.App--title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #1a237e;
}

.TextInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
}

.TextInput--input {
  height: 1.5rem;
  background: #e3f2fd;
  border: 0.1rem solid #0288d1;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  padding: 0.3rem 1rem;
  outline: none;
  transition-duration: 0.1s;
}
.TextInput--input:active,
.TextInput--input:focus {
  border: 0.1rem solid #1a237e;
}

.TextArea {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 0.5rem;
}

.TextArea--input {
  min-width: 3rem;
  background: #e3f2fd;
  border: 0.1rem solid #0288d1;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  padding: 0.3rem 1rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  outline: none;
}
.TextArea--input:active,
.TextArea--input:focus {
  border: 0.1rem solid #1a237e;
}

.ReasonChoice {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
}

.ReasonChoice--items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ReasonChoice--item {
  height: 1.5rem;
  background: #e3f2fd;
  border: 0.1rem solid #0288d1;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  padding: 0.3rem 1rem;
  outline: none;
  transition-duration: 0.1s;
  border-top-width: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.ReasonChoice--item:first-child {
  border-radius: 0 1.5rem 0 0;
  border-top-width: 0.1rem;
}
.ReasonChoice--item:last-child {
  border-radius: 0 0 1.5rem 1.5rem;
}

.ReasonChoice--item input {
  display: none;
}

.ReasonChoice--box {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: #7986cb;
  margin-right: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #0288d1;
  transition-duration: 0.1s;
}

.ReasonChoice--item.active {
  background: #7986cb;
  color: white;
}
.ReasonChoice--item.active .ReasonChoice--box {
  border: 0.2rem solid #1a237e;
  background: white;
}

.DayMonthInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
}

.DayMonthInput--block {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  background: #e3f2fd;
  border: 0.1rem solid #0288d1;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  padding: 0.3rem 1rem;
}

.DayMonthInput select {
  flex: 1;
  display: flex;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  transition-duration: 0.1s;
  background: white;
}
.DayMonthInput select:first-child {
  margin-right: 0.5rem;
}

.SignatureInput {
  margin-top: 1rem;
}

.SignatureInput--block {
  position: relative;
  min-height: 10rem;
  background: #e3f2fd;
  border: 0.1rem solid #0288d1;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.SignatureInput--choice {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  flex: 1;
}

.SignatureInput--choice button {
  flex: 1;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  background: none;
  text-align: center;
  background: #7986cb;
  border: 0.1rem solid #0288d1;
  color: white;
  outline: none;
  transition-duration: 0.1s;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  cursor: pointer;
  margin: 1rem;
}
.SignatureInput--choice button:last-child {
  margin-top: 0;
}
.SignatureInput--choice button:hover {
  border: 0.1rem solid #1a237e;
  background: #1a237e;
}

.SignatureInput--center {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  flex: 1;
}

.SignatureInput--drop {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5rem;
  outline: none;
  height: 100%;
}

.SignatureInput--tools {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.SignatureInput--back {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.SignatureInput--back button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  background: none;
  text-align: center;
  background: #7986cb;
  border: 0.1rem solid #0288d1;
  color: white;
  outline: none;
  transition-duration: 0.1s;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  cursor: pointer;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
.SignatureInput--back button:first-child {
  padding-left: 0.5rem;
}
.SignatureInput--back button:hover {
  border: 0.1rem solid #1a237e;
  background: #1a237e;
}

.SignatureInput--back button svg {
  margin-right: 0.5rem;
}

.SignatureInput--click {
  text-decoration: underline;
  color: #1a237e;
  cursor: pointer;
}

.SignatureInput--img {
  max-height: 100%;
  max-width: 100%;
}

.SignatureInput--remove {
  position: absolute;
  font-family: 'Sen', sans-serif;
  opacity: 0;
  transition-duration: 0.3s;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: none;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  background: #f44336e6;
  color: white;
  font-weight: 700;
}
.SignatureInput--remove:hover {
  opacity: 1;
}

.App--submit {
  margin-top: 1rem;
  display: block;
  cursor: pointer;
  background: #7986cb;
  color: white;
  border: 0.1rem solid #0288d1;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  padding: 0.3rem 1rem;
  outline: none;
  transition-duration: 0.1s;
}
.App--submit:hover {
  border: 0.1rem solid #1a237e;
  background: #1a237e;
}

.CheckBox {
  margin-top: 1rem;
}

.CheckBox label {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.CheckBox input {
  display: none;
}

.CheckBox span {
  flex-shrink: 0;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  background: #4fc3f7;
  color: white;
  border-radius: 0.15rem;
}

.CheckBox span.active {
  background: #0288d1;
}

.CheckBox span svg {
  width: 100%;
  height: 100%;
}

.SignaturePad {
  display: flex;
  padding: 0.5rem;
  flex: 1;
  align-items: stretch;
  flex-direction: column;
}

.SignaturePad canvas {
  background: white;
  flex: 1;
  border-radius: 0 1rem 1rem 1rem;
}

.SignaturePad--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.SignaturePad--clear {
  background: none;
  border: none;
  text-decoration: underline;
  color: #e53935;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  outline: none;
}

.SignaturePad--undo {
  align-self: center;
  background: none;
  border: none;
  text-decoration: underline;
  color: #1a237e;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  outline: none;
}
